/* 导航栏 */
nav.nav-shadow {
  box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.3);
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  height: 60px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  overflow: hidden;
  transition: all 0.5s;
}
nav .nav-box {
  width: 100%;
  height: 60px;
  margin: 0 auto;
  position: relative;
  max-width: 1200px;
}
nav .nav-box-login {
  width: 200px;
  line-height: 60px;
  position: absolute;
  top: 0;
  left: 10px;
}
nav .nav-box-login a {
  display: block;
  overflow: hidden;
  text-indent: -9999em;
  background: url('http://demo.qfpffmp.cn/cssthemes5/ccpt_6_bfz/res/static/img/logo.png') no-repeat center;
}
nav .list-button {
  width: 25px;
  height: 30px;
  position: absolute;
  top: 22px;
  right: 15px;
  cursor: pointer;
  display: block;
}
nav .list-button span {
  display: block;
  margin-bottom: 6px;
  width: 100%;
  height: 2px;
  background-color: #2db5a3;
  transition: all 0.5s;
}
nav .list-button .spa1 {
  transform: rotate(45deg) translate(8px, 8px);
}
nav .list-button .spa3 {
  transform: rotate(-45deg) translate(-2px, 2px);
}
nav .nav-list {
  width: 100%;
  position: absolute;
  top: 70px;
  right: 0;
  font-size: 18px;
  padding: 0 20px;
  margin: 0;
}
nav .nav-list li {
  display: block;
  line-height: 60px;
  position: relative;
}
nav .nav-list li a {
  display: block;
  color: #000;
}
nav .nav-list li:hover a {
  color: #2db5a3;
}
nav .nav-list li.is_click::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background-color: #2db5a3;
}
nav .nav-list li.is_click a {
  color: #2db5a3;
}
nav .nav-list .nav-bar {
  position: absolute;
  left: 0;
  top: 78px;
  width: 0px;
  height: 2px;
  display: none;
  background-color: #2db5a3;
  opacity: 0;
  transition: all 0.2s;
}
/* 媒体查询 */
@media screen and (min-width: 768px) {
  nav {
    height: 80px !important;
    max-height: 80px;
  }
  nav .nav-box-login {
    line-height: 80px;
    left: 20px;
  }
  nav .nav-box {
    height: 80px;
    width: 750px;
  }
  nav .list-button {
    display: none;
  }
  nav .nav-list {
    width: auto;
    top: 0;
    padding: 0 5px;
  }
  nav .nav-list li {
    display: inline-block;
    line-height: 80px;
    margin: 0 33px;
  }
  nav .nav-list .nav-bar {
    display: block;
  }
}
@media screen and (min-width: 992px) {
  nav .nav-box {
    width: 970px;
  }
}
@media screen and (min-width: 1200px) {
  nav .nav-box {
    width: 1170px;
  }
}
@media screen and (min-width: 1300px) {
  nav .nav-box {
    width: 1200px;
  }
}
